<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    xmlns:tools="http://schemas.android.com/tools"
    package="io.milis.sixt.home">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <dist:module
        dist:instant="false"
        dist:onDemand="false"
        dist:title="Home">
        <dist:fusing dist:include="true" />
    </dist:module>

    <application tools:ignore="AllowBackup,GoogleAppIndexingWarning">

        <activity
            android:name=".ui.home.HomeActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustNothing"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Home" />
    </application>

</manifest>